@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");
/* SM */
@media (max-width: 1024px) {
  header h1 {
    padding: 0.5em 0;
  }
  header .two-col menu {
    margin-top: 1em;
  }

  section {
    margin: 2em 0;
  }
  section.content-section .two-col > div:first-child:not(:empty):not(.paragraphs):not(.links) {
    border-top: 3px solid #323246;
    padding-top: 1em;
    margin-bottom: 2em;
  }
  section.content-section .two-col .vignettes .vignette {
    margin-bottom: 2em;
  }
}
@media (min-width: 640px) {
  body {
    font-size: 1.5rem;
  }

  .two-col .vignettes {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 1rem;
  }

  header h1 {
    padding: 0.5em 0 0 0;
  }

  section {
    margin: 2em 0;
  }
  section.content-section .two-col > div:not(:empty):not(.paragraphs):not(.links) {
    /*padding: 1em 0;*/
    /*border-top: 1px solid rgb(140,140,160);*/
    border-top: 3px solid #323246;
    padding: 1.5em 0 1em 0;
    margin-bottom: 1em;
  }

  .two-col {
    display: grid;
    grid-template-columns: 0.4fr 1.4fr 0.2fr;
    grid-gap: 2em;
  }
  .two-col .vignettes {
    grid-template-columns: 1fr 1fr;
  }
}
@keyframes animate-in {
  from {
    transform: translateY(5em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .invisible {
    opacity: 0;
  }

  .animate-in {
    animation: animate-in 0.75s forwards;
    /*animation-delay: calc((sibling-index() - 1) * .25s);*/
  }
}
html, body, * {
  padding: 0;
  margin: 0;
  /*font-family: "Stack Sans Text", helvetica, arial, sans-serif;*/
  font-family: helvetica, arial, sans-serif;
  font-optical-sizing: auto;
  color: #323246;
  /*background-color: rgb(250,250,255);*/
}

body {
  padding: 2em;
}

h2 {
  font-size: 1.25em;
}

h2.category {
  max-width: 50%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2em;
  background-color: #FFF;
  z-index: 100;
}
header .two-col {
  align-items: end;
}
header .two-col h1 {
  position: relative;
}
header .two-col h1::after {
  content: "";
  position: absolute;
  background-color: #FFF;
  width: 100%;
  height: 0.25em;
  top: 100%;
  left: 0;
}
header .two-col menu {
  border-bottom: 1px solid #323246;
}
header .two-col menu li {
  display: inline-block;
  margin: 0 10px;
}
header .two-col menu li a {
  border-bottom: 0.25em solid transparent;
  text-decoration: none;
  display: block;
}
header .two-col menu li a:hover, header .two-col menu li a.active {
  border-bottom: 0.25em solid #323246;
}

menu {
  list-style: none;
}

.inactive {
  color: #aaaabe;
  pointer-events: none;
}

.vignette {
  position: relative;
  min-height: 200px;
  margin-bottom: 1em;
}
.vignette a {
  text-decoration: none;
}
.vignette a img {
  transition: transform 0.25s;
}
.vignette a img:hover {
  transform: scale(1.05);
}

.list {
  margin-bottom: 1em;
}

.year.overlay {
  position: absolute;
  top: 0.5em;
  left: -0.5em;
  z-index: 10;
  font-size: 0.75em;
  background-color: #323246;
  color: #FFF;
  padding: 0.1em 0.5em;
  font-weight: bold;
}

.year ~ p.title {
  margin-top: 0.25em;
  /*display: inline;*/
  /*margin-left: 2em;*/
}

.img-container {
  display: flex;
  height: 200px;
  overflow: hidden;
  border: 1px solid #dcdcf0;
  align-items: center;
  justify-content: center;
  /*background-color: rgb(50,50,70);*/
}
.img-container img {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: auto;
  /*border: 1px solid rgb(50,50,70); */
}

p.title {
  /*text-decoration: underline;*/
  font-weight: bold;
  margin: 1em 0 0.25em 0;
}

p.description {
  font-size: 0.75em;
  line-height: 1.3em;
  margin-bottom: 1em;
}
p.description.lead {
  font-size: 1.25em;
  line-height: 1.3em;
}

.chip {
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  /*background-color: rgb(240,240,250);*/
  border: 1px solid #dcdcf0;
  color: #78788c;
}

.tags {
  margin-top: 0.5em;
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
  display: flex;
  gap: 1em;
}
.tags .contributions,
.tags .skills,
.tags .organizations,
.tags .publisher,
.tags .authors {
  font-size: 0.5em;
  margin-left: -0.5em;
}
.tags .contributions label,
.tags .skills label,
.tags .organizations label,
.tags .publisher label,
.tags .authors label {
  font-size: 1.25em;
  margin: 0 0.5em 0.25em 0.5em;
  text-decoration: underline;
  display: block;
}
.tags .organizations .chip {
  font-size: 1.5em;
}

/*# sourceMappingURL=main.css.map */
